*{
    margin: 0;
    padding: 0;
    .navbar{
        display: flex;
        justify-content: center;
        background: linear-gradient(0deg, 
        rgba(255, 255, 255, 0.9), 
        rgba(255, 255, 255, 0.9)),
        #EC1E24;
        .logo{
            padding: 30px;
            .brand-logo{
                width: 25%;
                padding-left: 2%;
            }
        }
        .header-text{
            padding-right: 10%;
            padding-top: 0.6%;
    
        
        }
    }
}
@media only screen and ( max-width :46.1875em) {

}  