.footer{
    margin-top: 15px;
    width: 100%;
    padding-top:5%;
    display: flex;
    justify-content: space-evenly;
    background: #F9F0F0;
    
}
@media screen and (max-width: 768px) {
    .footer{
        width:100%;
        display: flex;
        flex-wrap:wrap ;
        .cardss-footer{
            width: calc(55%-20px);
        }
       
    }
        
}